language: python
python:
    - "2.7"

# command to install dependencies
install: pip install -r requirements.txt

# command to run tests: A very limited test suite
script: python run_tests.py

notifications:
    email:
        recipients:
            - nick@nclarkjudd.com
            - eric@konklone.com
        on_success: change
        on_failure: change
